.folding {
    font-family: monospace, monospace;
    font-size: 1em;
    text-decoration: none;
    color: $gray;

    &::before {
        content: '[-] ';
    }

    &.collapsed {
        //color: $gray-light;

        &::before {
            content: '[+] ';
        }
    }

    &:hover {
        color: $gray-lighter;
    }
}


pre {
    margin: 0;
    transition: background-color .2s ease;


    &:hover {
        background-color: $gray-darker;
    }
}
