h1, h2, h3, h4 {
    font-weight: 700;
}

h1 {
    margin-top: 1;
    color: $gray-lighter;
}

h2, h3, h4 {
    margin-top: $gutter-lg;
}

strong {
    color: lighten($gray-light, 15%);
}

ul, ol {
    padding-left: 0;
    list-style-position: inside;

    li {
        line-height: 1.5em;
        margin-bottom: .5em;
        display: flex;



        a {
            font-weight: bold;
            flex-grow: 1;
            text-decoration: 0;
            text-decoration: none;
        }
    }

    &.list-withIcons {
        [class^="icon-"], [class*=" icon-"] {
            margin-right: $gutter-xs
        }
    }
}

ol {
    counter-reset: walkthrough;

    li {
        &::before {
            counter-increment: walkthrough;
            content: counter(walkthrough);
            display: block;
            margin-right: $gutter-xs
        }
    }
}
