#page {
    margin-left: 200px;
}
#mainPane {
    float: left;
    width: 40%;
    border-radius: 15px 50px 30px;
    background: #AAAAFF;
    padding: 20px;
}.ui-resizable-helper {
    border: 1px dotted gray;
}
#codediv{    
    width: 57%;    
    margin-left: -200px;
    overflow: auto;
    border: 1px dotted gray;
}
#resultsDiv {    
    clear: both;
}





