/* SCROLLBARS */
::-webkit-scrollbar-track {
    background-color: $gray;
}

::-webkit-scrollbar {
    width: 8px;
    height: 8px;
    background-color: #F5F5F5;
}

::-webkit-scrollbar-thumb {
    background-color: $gray-light;

    &:hover {
        background-color: $gray-lighter;
    }

    &:active {
        background-color: $brand-primary;
    }
}

#root {
    width: 100%;
    display: flex;
    flex-direction: column;
    flex-grow: 1;
}

.text-muted {
    color: $gray;
}

button, a {
    cursor: pointer;
}

html, body {
    height: 100%;
    width: 100%;
    font-size: $font-size;
}

body {
    background-color: $gray-base;
    font-family: 'lato', Helvetica Neue,Helvetica,Arial,sans-serif;
    color: $gray-light;
    display: flex;
    flex-direction: column;
    line-height: 1.5em;
}

a {
    color: $brand-primary;

    &:hover {
        color: saturate( lighten( $brand-primary, 15% ), 100% );
    }
}

$directions: ('top', 'right', 'down', 'left');

@each $direction in $directions {
    .margin-#{$direction} {
        margin-#{$direction}: $gutter;

        &.margin-sm {
            margin-#{$direction}: $gutter-sm;
        }

        &.margin-xs {
            margin-#{$direction}: $gutter-xs;
        }
    }
}

.padding {
    padding: $gutter;

    &.padding-sm {
        padding: $gutter-sm;
    }

    &.padding-xs {
        padding: $gutter-xs;
    }
}

hr {
    border: none;
    border-top: 1px solid $gray-dark;
}

.flex-horizontal, .flex-vertical {
    display: flex;
}

.flex-vertical {
    flex-direction: column;
}

.flex-grow {
    flex-grow: 1;
}

.btn {
    border: none;
    background-color: $gray-base;
    color: $brand-primary;
    font-weight: bold;
    line-height: $gutter-sm;
    padding: $gutter-xs $gutter-sm;
    border-radius: 1px;
    cursor: pointer;

    i {
        margin-right: $gutter-xxs;
    }

    &:hover {
        background-color: $gray-dark;
        color: saturate( lighten( $brand-primary, 10% ), 40% );
    }

    &.active {
        background-color: $brand-primary;
        color: $gray-lighter;
    }

    &.btn-primary {

    }

    &.btn-default {
        background-color: rgba($gray-lighter, .8);
        color: $gray-dark;

        &:hover {
            background-color: $gray-lighter;
        }
    }
}

.header {
    padding: $gutter-xs $gutter;
    display: flex;
    align-items: center;
    flex-shrink: 0;
    background-color: $gray-base-light;

    .logo {
        display: block;

        img {
            height: 42px;
        }
    }

    .settings {
        font-size: $gutter;
        transition: color .2s $global-easing;
        color: $gray;

        &:hover {
            color: $gray-lighter;
        }
    }
}

.container {
    display: flex;
    flex-grow: 1;
    position: relative;
}

.sidebar {
    width: $sidebar-width;
    background-color: $gray-darker;
    flex-shrink: 0;
    overflow-y: auto;
    position: relative;
    transition: width .5s $global-easing-in-out;
    flex-shrink: 0;
    overflow-y: auto;
    overflow-x: hidden;

    .sidebar-body {
        padding: $gutter-lg;
        width: $sidebar-width - ($gutter-lg*2);
        transition: opacity .3s .3s $global-easing, transform .3s .3s $global-easing;
    }

    .back-button {
        text-decoration: none;
    }


    .sidebar-heading {
        position: relative;

        .back-button {
            top: -13px;
            position: absolute;
            left: -$gutter-lg;
            font-size: 35px;
            width: $gutter-lg;
            height: $gutter-lg;
            text-align: center;
            line-height: $gutter-lg
        }
    }

    .sidebar-controlls {
        position: sticky;
        top: 0;
        z-index: 1000;
        //text-align:right;
        margin-bottom: -$gutter;

        .collapse-sidebar, .back-button {
            display: block;
            background-color: $gray-dark;
            height: $gutter;
            width: $gutter;
            border: none;
            color: $gray-light;
            line-height: $gutter;
            text-align: center;
        }

        .back-button {
            position: absolute;
            height: 0;
            transition: height .2s $global-easing;
            background-color: $brand-primary;
            color: $gray-lighter;
            overflow: hidden;
        }
    }

    &:not(.small) {

        .icon-expand {
            display: none;
        }
    }


    &.small {
        width: $gutter;
        padding: 0;
        overflow: hidden;
        transition: width .5s .1s $global-easing-in-out;

        .back-button {
            height: $gutter;
            transition: height .2s .4s $global-easing;
        }

        .sidebar-body {
            transition: opacity .5s $global-easing-in-out, transform .5s $global-easing-in-out;
        }

        .icon-collapse {
            display: none;
        }

        .sidebar-body {
            opacity: 0;
            transform: translateX(-$gutter);
            pointer-events: none;
        }
    }
}

#demo-body-container {
    position: absolute;
    padding: .1px;
    min-width: 100%;
    min-height: 100%;
    display: flex;
    flex-direction: column;
}

#preview-source-code {
    z-index: $zindex-code;
}

.demo-body {
    flex-grow: 1;
    background-color: $gray-base;
    overflow: auto;
    position: relative;

    .demo-code {
        flex-grow: 1;
        padding: $gutter;
        position: relative;
    }

    .results-container {
        bottom: 0;
        left: $gutter-xs;
        position: sticky;
        overflow: hidden;
        z-index: $zindex-results;
        margin: 0 $gutter-xs;
        //transition: height .35s $global-easing-ino-out !important;
        .results-speed {
            font-size: 12px;
            font-weight: 800;
            line-height: 11px;
            display: flex;


            .text-muted {
                font-size: 10px;
                text-transform: uppercase;
                font-weight: normal;
            }
        }

        .minimize-results {
            border: none;
            background-color: transparent;
            padding: 0;
            margin: -$gutter-xs (-$gutter-xs) 0 $gutter-sm;
            color: $brand-primary;
            width: $gutter-lg;
            height: $gutter-lg;
            font-size: $gutter;
            line-height: $gutter-lg;
            text-align: center;
            //position: absolute;
            //top: $gutter-xs;
            //right: $gutter-xs;
            border-radius: 100px;
            transition: background .2s $global-easing-in-out;

            &:hover {
                background-color: $gray-darker;
            }
        }
    }

    .results {
        padding: $gutter-sm;
        background-color: $gray-dark;
        text-align: center;

        h1, h2 {
            margin: 0;
        }
    }
}

.fab-container {
    z-index: $zindex-fabs;
    position: fixed;
    right: $gutter;
    bottom: $gutter;
    font-size: 11px;

    .fab {
        border: none;
        color: $gray;
        font-weight: bold;
        background-color: transparent;
        text-transform: uppercase;
        font-size: 11px;
        position: relative;
        text-decoration: none;

        & + .fab {
            margin-left: $gutter-sm;
        }

        i {
            background-color: $gray-dark;
            position: absolute;
            left: 50%;
            top: -60px;
            width: $gutter-lg;
            height: $gutter-lg;
            font-size: $gutter;
            line-height: $gutter-lg;
            text-align: center;
            border-radius: 50px;
            transform: translateX(-50%);
            color: $gray-lighter;
            transition: transform .15s cubic-bezier(0, 0.5, 0.5, 1);
            transform-origin: left;
        }

        &:hover {
            i {
                transform: scale(1.3) translateX(-50%);
            }
        }

        &#openStudio {
            i {
                
            }
        }

        &#startWalkthrough {
            i {
                background-color: $color-5;
            }
        }

        &#runScript {
            i {
                background-color: $brand-primary;
            }
        }
    }
}
//collapse
.collapse {
    &:not(.show) {
        display: none;
    }
}

.collapsing {
    position: relative;
    height: 0;
    overflow: hidden;
    transition: height .35s ease;
}
//dropdowns
// The dropdown wrapper (`<div>`)
.dropdown {
    position: relative;
}

.dropdown-toggle::after {
    display: inline-block;
    width: 0;
    height: 0;
    margin-left: .255em;
    vertical-align: .255em;
    content: "";
    border-top: .3em solid;
    border-right: .3em solid transparent;
    border-bottom: 0;
    border-left: .3em solid transparent;
}
// The dropdown menu
.dropdown-menu {
    position: absolute;
    top: 100%;
    left: 0;
    z-index: $zindex-dropdown;
    display: none; // none by default, but block on "open" of the menu
    float: left;
    min-width: $dropdown-min-width;
    padding: $gutter-xs 0;
    margin: $gutter-xs 0 0; // override default ul
    text-align: left; // Ensures proper alignment if parent has it changed (e.g., modal footer)
    list-style: none;
    background-color: $gray-dark;
    background-clip: padding-box;
    box-shadow: $global-box-shadow;
}

.dropdown-menu-right {
    right: 0;
    left: auto;
}
// When enabled Popper.js, reset basic dropdown position
// stylelint-disable no-duplicate-selectors
.dropdown-menu {
    &.placement-right {
        left: auto;
        right: 0;
    }
}
// Links, buttons, and more within the dropdown menu
//
// `<button>`-specific styles are denoted with `// For <button>s`
.dropdown-item {
    display: block;
    //    min-width: 100%; // For `<button>`s
    padding: $gutter-xs $gutter-sm;
    clear: both;
    color: $gray-light;
    text-align: inherit; // For `<button>`s
    white-space: nowrap; // prevent links from randomly breaking onto new lines
    background-color: transparent; // For `<button>`s
    border: 0; // For `<button>`s
    text-transform: uppercase;
    text-decoration: none;
    font-size: 12px;
    line-height: 12px;

    &.active,
    &:active {
        color: $gray-lighter;
        text-decoration: none;
    }

    &:hover {
        background-color: $gray-darker;
    }

    &.disabled,
    &:disabled {
        color: $gray;
        background-color: transparent;
    }
}

.dropdown-menu.show {
    display: block;
}


.dropdown-item-text {
    display: block;
    padding: $gutter-xs $gutter-xs;
    color: $gray-light;
}

ul, ol {
    &.list-withIcons {
        padding-left: 0;
        margin: 0;

        li {
            line-height: 1.5em;
            margin-bottom: .5em;
            display: flex;

            a {
                font-weight: bold;
                flex-grow: 1;
                text-decoration: 0;
                text-decoration: none;
            }
        }

        [class^="icon-"], [class*=" icon-"] {
            margin-right: $gutter-xs
        }
    }
}

@-moz-keyframes spin {
    from {
        -moz-transform: rotate(0deg);
    }

    to {
        -moz-transform: rotate(360deg);
    }
}

@-webkit-keyframes spin {
    from {
        -webkit-transform: rotate(0deg);
    }

    to {
        -webkit-transform: rotate(360deg);
    }
}

@keyframes spin {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}


$spin-properties: spin .75s infinite cubic-bezier(0.6, 0.02, 0.4, 0.99);

.spinner {
    position: absolute;
    height: 100%;
    width: 100%;
    left: 0;
    top: 0;
    background-color: $gray-base;
    z-index: $zindex-spinner;
    opacity: 0;
    transition: opacity .3s ease;

    &:before {
        content: '';
        position: absolute;
        top: 50%;
        left: 50%;
        width: 20px;
        height: 20px;
        border-radius: 20px;
        border: 3px solid rgba($gray-lighter,.2);
        border-top-color: $gray-lighter;
        animation: i .75s infinite cubic-bezier(.6,.02,.4,.99);
        -webkit-animation: $spin-properties;
        -moz-animation: $spin-properties;
        -ms-animation: $spin-properties;
        animation: $spin-properties;
    }

    &:not(.active) {
        pointer-events: none;
    }

    &.active {
        opacity: 1;
    }

    &.hidden {
        display: none;
    }
}

@-webkit-keyframes fadein {
    from {
        top: 0;
        opacity: 0;
    }

    to {
        top: 30px;
        opacity: 1;
    }
}

@keyframes fadein {
    from {
        top: 0;
        opacity: 0;
    }

    to {
        top: 30px;
        opacity: 1;
    }
}

@-webkit-keyframes fadeout {
    from {
        top: 30px;
        opacity: 1;
    }

    to {
        top: 0;
        opacity: 0;
    }
}

@keyframes fadeout {
    from {
        top: 30px;
        opacity: 1;
    }

    to {
        top: 0;
        opacity: 0;
    }
}

.toast {
    visibility: hidden;
    background-color: $gray-lighter;
    color: $gray-darker;
    text-align: center;
    border-radius: 3px;
    padding: $gutter-xs $gutter-sm;
    position: fixed;
    z-index: $zindex-toast;
    left: 50%;
    top: 30px;

    &.active {
        visibility: visible;
        -webkit-animation: fadein 0.5s, fadeout 0.5s 4s forwards;
        animation: fadein 0.5s, fadeout 0.5s 4s forwards;
    }

    &.danger {
        color: $gray-lighter;
        background-color: $brand-danger;
    }

    &.warning {
        color: $gray-lighter;
        background-color: $brand-warning;
    }
}

.bg-warning {
    background-color: rgba($brand-warning, .2);
    color: $brand-warning;
}

#errorMessage {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: $zindex-error;

    .message {
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translateX(-50%) translateY(-50%);
        background-color: $gray-light;
        color: $gray-darker;
        z-index: $zindex-error + 2;
        border-radius: 3px;
        box-shadow: 0px 5px 20px 0px #000;
        padding: $gutter;

        h2 {
            margin: 0;
        }
    }

    .overlay {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba($gray-base, .7);
        z-index: $zindex-error + 1;
    }
}