
@font-face {
    font-family: 'lato';
    src:    url('../fonts/lato-black-webfont.woff2') format('woff2'),
            url('../fonts/lato-black-webfont.woff') format('woff'),
            url('../fonts/lato-black-webfont.svg#latoblack') format('svg');
    font-weight: 900;
    font-style: normal;
}

@font-face {
    font-family: 'lato';
    src:    url('../fonts/lato-heavy-webfont.woff2') format('woff2'),
            url('../fonts/lato-heavy-webfont.woff') format('woff'),
            url('../fonts/lato-heavy-webfont.svg#latoheavy') format('svg');
    font-weight: 800;
    font-style: normal;
}

@font-face {
    font-family: 'lato';
    src:    url('../fonts/lato-bold-webfont.woff2') format('woff2'),
            url('../fonts/lato-bold-webfont.woff') format('woff'),
            url('../fonts/lato-bold-webfont.svg#latobold') format('svg');
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: 'lato';
    src:    url('../fonts/lato-semibold-webfont.woff2') format('woff2'),
            url('../fonts/lato-semibold-webfont.woff') format('woff'),
            url('../fonts/lato-semibold-webfont.svg#latosemibold') format('svg');
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: 'lato';
    src:    url('../fonts/lato-medium-webfont.woff2') format('woff2'),
            url('../fonts/lato-medium-webfont.woff') format('woff'),
            url('../fonts/lato-medium-webfont.svg#latomedium') format('svg');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'lato';
    src:    url('../fonts/lato-italic-webfont.woff2') format('woff2'),
            url('../fonts/lato-italic-webfont.woff') format('woff'),
            url('../fonts/lato-italic-webfont.svg#latoitalic') format('svg');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'lato';
    src:    url('../fonts/lato-regular-webfont.woff2') format('woff2'),
            url('../fonts/lato-regular-webfont.woff') format('woff'),
            url('../fonts/lato-regular-webfont.svg#latoregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'lato';
    src:    url('../fonts/lato-light-webfont.woff2') format('woff2'),
            url('../fonts/lato-light-webfont.woff') format('woff'),
            url('../fonts/lato-light-webfont.svg#latolight') format('svg');
    font-weight: 300;
    font-style: normal;
}


