@import 'demo-variables.scss';

.header-image {
    background-color: $color-1-3;
    background-image: url('#{$IMG_PATH}/header-image.png');

    background-repeat: no-repeat;
    background-size: auto 100%;
    background-image: url('#{$IMG_PATH}/header-image.png'), linear-gradient(to right, $color-1-3, $color-1);
    padding: $gutter;
    padding-left: 400px;
    height: 90px;
    display: flex;
    align-items: center;
    flex-shrink: 0;

    h1 {
        margin: 0;
        font-size: 36px;
        font-weight: 900;
    }
}

@mixin demoItemColors ($color-base, $color-complementary ) {
    h2 {
        color: $color-base;
    }

    .demo-item .bkg {
        background: $color-base;
        background: -moz-linear-gradient(-45deg, $color-base 0%, $color-complementary 100%);
        background: -webkit-linear-gradient(-45deg, $color-base 0%, $color-complementary 100%);
        background: linear-gradient(135deg, $color-base 0%, $color-complementary 100%);
    }
}

.demo-list {
    display: flex;
    flex-wrap: wrap;
    padding: $gutter;

    .demo-category {
        padding: $gutter-sm;

        h2 {
            margin-top: 0;
        }

        img {
            max-width: 100%;
            margin: 10px auto -3% auto;
            text-align: center;
            display: block;
        }

        &:nth-of-type(10n - 1) {
            @include demoItemColors($color-2-1, $color-2-2);
        }

        &:nth-of-type(10n - 2) {
            @include demoItemColors($color-2, $color-2-2);
        }

        &:nth-of-type(10n - 3) {
            @include demoItemColors($color-1-2, $color-1-3);
        }

        &:nth-of-type(10n - 4) {
            @include demoItemColors($color-1, $color-1-2);
        }

        &:nth-of-type(10n - 5) {
            @include demoItemColors($color-5-2, $color-5-3);
        }

        &:nth-of-type(10n - 6) {
            @include demoItemColors($color-5, $color-5-2);
        }

        &:nth-of-type(10n - 7) {
            @include demoItemColors($color-4-2, $color-4-3);
        }

        &:nth-of-type(10n - 8) {
            @include demoItemColors($color-4, $color-4-1);
        }

        &:nth-of-type(10n - 9) {
            @include demoItemColors($color-3-2, $color-3-3);
        }

        &:nth-of-type(10n) {
            @include demoItemColors($color-3, $color-3-1);
        }




        .demo-group {
            display: flex;
            flex-wrap: wrap;
            margin: -$gutter-xs;
            align-items: flex-start;

            .demo-item {
                display: flex;
                flex-direction: column;
                background-color: $gray-darker;
                width: 200px;
                color: $gray-light;
                margin: $gutter-xs;
                text-decoration: none;
                transition: all .20s cubic-bezier(0.6, 0, 0.14, 1.45);

                .title {
                    line-break: loose;
                    font-size: 18px;
                    text-align: center;
                    padding: 15px;
                    font-weight: bold;
                }

                &:hover {
                    color: $gray-lighter;
                    transform: scale(1.1) translateY(-5px);
                    box-shadow: 0px 5px 20px 2px rgba(0, 0, 0, 0.5);
                    ;
                }

                &.done {
                    position: relative;

                    img {
                        mix-blend-mode: luminosity;
                        opacity: .5;
                    }

                    &:before {
                        position: absolute;
                        width: 100%;
                        text-align: center;
                        line-height: 120px;
                        font-size: 50px;
                        top: 0;
                        color: $color-3;

                        /* use !important to prevent issues with browser extensions that change fonts */
                        font-family: 'icomoon' !important;
                        speak: none;
                        font-style: normal;
                        font-weight: normal;
                        font-variant: normal;
                        text-transform: none;
                        //line-height: 1;
                        /* Better Font Rendering =========== */
                        -webkit-font-smoothing: antialiased;
                        -moz-osx-font-smoothing: grayscale;
                        content: "\e90a";
                    }
                }
            }
        }
    }
}
