%message-shared {
    background-color: transparent;
    border: none;
    border-bottom: 1px solid $gray-dark;
    font-weight: 900;
    font-size: 21px;
    height: $gutter;
    width: 270px;
    padding: 1px 0px;
    display: block;
    line-height: 30px;
}

.parameters-container {
    margin: $gutter $gutter 0;
    top: 0;
    left: $gutter;
    display: flex;
    flex-direction: column;


    .parameters-header {
        background-color: $gray-darker;
        padding: $gutter-xxs $gutter-xs*2 0;
        margin-top: 0;
        margin-bottom:  -4px;
        align-self: flex-start;
        color: $gray-light;
        font-size: 12px;
        font-weight: normal;
        letter-spacing: .15em;

    }

.parameters {
    display: flex;
    flex-wrap: wrap;
    background-color: $gray-darker;
    //position: sticky;
    
    
    padding: $gutter-xs;
    z-index: $zindex-parameters;

    .parameter {
        margin: $gutter-xs;

        &:nth-of-type(1) {
            .name {
                color: $color-1;
            }
        }

        &:nth-of-type(2) {
            .name {
                color: $color-1-2;
            }
        }

        &:nth-of-type(3) {
            .name {
                color: $color-2;
            }
        }

        &:nth-of-type(4) {
            .name {
                color: $color-2-2;
            }
        }

        &:nth-of-type(5) {
            .name {
                color: $color-3;
            }
        }

        &:nth-of-type(6) {
            .name {
                color: $color-3-2;
            }
        }

        &:nth-of-type(7) {
            .name {
                color: $color-4;
            }
        }

        &:nth-of-type(8) {
            .name {
                color: $color-4-2;
            }
        }

        &:nth-of-type(9) {
            .name {
                color: $color-5;
            }
        }

        &:nth-of-type(10) {
            .name {
                color: $color-5-2;
            }
        }

        &:nth-of-type(11) {
            .name {
                color: $color-1-1;
            }
        }

        &:nth-of-type(12) {
            .name {
                color: $color-1-3;
            }
        }
    }

    .parameter-input {
        @extend %message-shared;
    }

    .parameter-label {
        display: flex;

        .name {
            font-weight: 900;
            flex-grow: 1;
            margin-right: $gutter-sm;
        }

        .type {
            text-transform: uppercase;
            font-size: 11px;
            color: $gray;
            font-weight: bold;
            letter-spacing: .5pt;
        }
    }

    .parameter input {
        color: $gray-light;

        &::placeholder {
            color: $gray-light;
            opacity: .7;
        }

        &[data-type="string"], &[type=text] {
            & + .parameter-label .type::before {
                content: 'STRING';
            }
        }

        &[type=number] {
            & + .parameter-label .type::before {
                content: 'NUMBER';
            }
        }

        &[data-type="float"] {
            & + .parameter-label .type::before {
                content: 'FLOAT';
            }
        }

        &[data-type="integer"] {
            & + .parameter-label .type::before {
                content: 'INTEGER';
            }
        }



        &[type=date] {
            & + .parameter-label .type::before {
                content: 'DATE';
            }
        }

        &[type=time] + .parameter-label {
            .type::before {
                content: 'TIME';
            }
        }
    }
}
}


.validation-error {
    margin-top: $gutter-xxs;
    background-color: $brand-primary;
    color: $gray-lighter;
    padding: $gutter-xxs $gutter-sm;
    font-size: 12px;
    line-height: 12px;
    border-radius: 2px;
}

input[type=file] {
	opacity: 0;
	overflow: hidden;
    position: absolute;
    cursor: pointer;
    
    &+.fileInput-label {
        @extend %message-shared;
        
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        pointer-events: none;

        &::before {
            content: "\e912";
            font-family: 'icomoon' !important;
            speak: none;
            font-style: normal;
            font-weight: normal;
            font-variant: normal;
            text-transform: none;
            //line-height: 1;
            /* Better Font Rendering =========== */
            -webkit-font-smoothing: antialiased;
            -moz-osx-font-smoothing: grayscale;
            margin-right: $gutter-xxs;
        }
    }

    &:focus+.fileInput-label, {
        outline: 1px dotted #000;
        outline: -webkit-focus-ring-color auto 5px;
    }
}
