.sidebar {
    .walkthrough {
        counter-reset: walkthrough;

        li {
            &::before {
                counter-increment: walkthrough;
                content: counter(walkthrough);
                display: block;
                margin-right: $gutter-xs
            }

            &.active {
                background-color: $color-5;
                margin-left: -$gutter-xs;
                margin-right: -$gutter-xs;
                padding-left: $gutter-xs;
                padding-right: $gutter-xs;

                a {
                    color: $gray-lighter;
                }

                &::before {
                    color: $gray-lighter;
                    font-weight: bold;
                }
            }

            a {
                color: $color-5;

                &:hover {
                    color: saturate( lighten( $color-5, 25% ), 10% );
                }
            }
        }
    }


    ul, ol {
        padding-left: 0;
        list-style-position: inside;

        li {
            line-height: 1.5em;
            margin-bottom: .5em;
            display: flex;



            a {
                font-weight: bold;
                flex-grow: 1;
                text-decoration: 0;
                text-decoration: none;
            }
        }
    }
}
