.sidebar {
    .walkthrough {
        li {
            &.active {
                a {
                    color: $gray-lighter;
                }
            }

            a {
                color: $color-5;

                &:hover {
                    color: saturate( lighten( $color-5, 25% ), 10% );
                }

                
            }

            .selectedItem {
                color: saturate( lighten( $color-5, 25% ), 10% );
                // TODO: Should we add background color for the selected wt item ?
            }
        }
    }
}
