.sidebar {
    .walkthrough {
        
        a {
            color: $color-5;

            &:hover {
                color: saturate( lighten( $color-5, 25% ), 10% );
            }

            &:active {
                color: black;
                background-color: lightseagreen;
            }
            
            //TODO: The above '&:active' only works when clicking the mouse.Need to make the highlight 'stay' after the click 
            //TODO: Rafal - Please decide the colors...
        }
    }
}
