@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

h1, h2, h3, h4 {
    font-weight: 700!important;
    font-family: 'Poppins', 'Lato', sans-serif;
}

h1 {
    line-height: 1.2em!important;
}

h2, h3, h4 {
    margin-top: $gutter-md;
}

strong {
    color: lighten($gray-light, 15%);
}

.text-center {
    text-align: center;
}
