h1, h2, h3, h4 {
    font-weight: 700;
}

h1 {
    margin-top: 1;
    color: $gray-lighter;
}

h2, h3, h4 {
    margin-top: $gutter-lg;
}

strong {
    color: lighten($gray-light, 15%);
}

.text-center {
    text-align: center;
}